/* This file is for your main application css. */

@import "./responsive.css";

body,
html {
  height: auto;
}

body {
  padding-top: 1em;
}

.ui.segment.restaurant {
  margin: 0;
}

.restaurant .ui.header {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

#menu .header.item a {
  margin-right: auto;
}

#menu button:not(.mobile) {
  display: none;
}

#menu button {
  margin: -0.5em;
}
