/* This file is for your main application css. */

/* @import "./phoenix.css"; */

body,
html {
  height: auto;
}

body {
  padding-top: 1em;
}

.ui.segment.restaurant {
  margin: 0;
}

.restaurant .ui.header {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}
